<!-- list -->
<ul class="nav">
    <!--菜单一 -->
    <li ng-class="{active:$state.includes('app.h5')}">
        <a href class="auto" ui-sref="app.h5">
            <span class="pull-right text-muted">
              <i class="fa fa-fw fa-angle-right text"></i>
              <i class="fa fa-fw fa-angle-down text-active"></i>
             </span>
            <i class="fa fa-html5"></i>
            <span>HTML5</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.h5.origin">
                    <span>原创</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.h5.transfer">
                    <span>转载</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.h5.news">
                    <span>新闻</span>
                </a>
            </li>
        </ul>
    </li>
    <!--菜单二 -->
    <li ng-class="{active:$state.includes('app.css3')}">
        <a href class="auto" ui-sref="app.css3">
            <span class="pull-right text-muted">
              <i class="fa fa-fw fa-angle-right text"></i>
              <i class="fa fa-fw fa-angle-down text-active"></i>
             </span>
            <i class="fa fa-css3"></i>
            <span>CSS3</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.css3.origin">
                    <span>原创</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.css3.transfer">
                    <span>转载</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.css3.news">
                    <span>新闻</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<!-- / list -->
